<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Portafolio del equipo{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Tu CSS personalizado -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    {% block navbar %}

    <nav class="navbar navbar-dark bg-dark justify-content-center">
      <ul class="navbar-nav flex-row">
        <li class="nav-item me-3">
          <a class="nav-link" href="/">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Equipo
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
            {% for slug, i in integrantes.items() %}
            <li>
              <a class="dropdown-item" href="{{ url_for('perfil', slug=slug) }}">{{ i.nombre }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </nav>

    {% endblock %}

    <main>{% block content %}{% endblock %}</main>

    {% block footer %}
    <footer>
      <p>Portafolio grupal · Flask + JSON</p>
    </footer>
    {% endblock %}
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
